<div class="subnav">
    {{#ifCond submenu '==' 'club'}}
        {{text.global.menu.club.sub.club}}
    {{else}}
        <a href="/club">{{text.global.menu.club.sub.club}}</a>
    {{/ifCond}}
    |
    {{#ifCond submenu '==' 'habboClubBenefits'}}
        {{text.global.menu.club.sub.habboClubBenefits}}
    {{else}}
        <a href="/club/habbo_club_benefits">{{text.global.menu.club.sub.habboClubBenefits}}</a>
    {{/ifCond}}
    |
    {{#ifCond submenu '==' 'joinHabboClub'}}
        {{text.global.menu.club.sub.joinHabboClub}}
    {{else}}
        <a href="/club/join_habbo_club">{{text.global.menu.club.sub.joinHabboClub}}</a>
    {{/ifCond}}
    |
    {{#ifCond submenu '==' 'habboClubFurni'}}
        {{text.global.menu.club.sub.habboClubFurni}}
    {{else}}
        <a href="/club/habbo_club_furni">{{text.global.menu.club.sub.habboClubFurni}}</a>
    {{/ifCond}}
</div>