<div class="subnav">
    {{#ifCond submenu '==' 'credits'}}
        {{text.global.menu.credits.sub.credits}}
    {{else}}
        <a href="/credits">{{text.global.menu.credits.sub.credits}}</a>
    {{/ifCond}}
    |
    {{#ifCond submenu '==' 'useMyCredits'}}
        {{text.global.menu.credits.sub.useMyCredits}}
    {{else}}
        <a href="/credits/use_my_credits">{{text.global.menu.credits.sub.useMyCredits}}</a>
    {{/ifCond}}
</div>