<div class="subnav">
    {{#ifCond submenu '==' 'hotel'}}
    {{text.global.menu.hotel.sub.hotel}}
    {{else}}
        <a href="/hotel">{{text.global.menu.hotel.sub.hotel}}</a>
    {{/ifCond}}
    |
    {{#ifCond submenu '==' 'welcomeToHabboHotel'}}
        {{text.global.menu.hotel.sub.welcome}}
    {{else}}
        <a href="/hotel/welcome_to_habbo_hotel">{{text.global.menu.hotel.sub.welcome}}</a>
    {{/ifCond}}
    |
    {{#ifCond submenu '==' 'furniture'}}
        {{text.global.menu.hotel.sub.furni}}
    {{else}}
        <a href="/hotel/furniture">{{text.global.menu.hotel.sub.furni}}</a>
    {{/ifCond}}
    |
    {{#ifCond submenu '==' 'pets'}}
        {{text.global.menu.hotel.sub.pets}}
    {{else}}
        <a href="/hotel/pets">{{text.global.menu.hotel.sub.pets}}</a>
    {{/ifCond}}

</div>