<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>{{app.name}}: {{text.iot.title}}</title>
    <link href="/styles/style-help.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div style="display:flex;flex-direction: column;align-items: center;">
    <table id="" border="0" cellpadding="0" cellspacing="0" width="720">
        <tr>
            <td style="background: url(/images/iot/top_left.gif) no-repeat; width: 8px; height: 77px;">&nbsp;</td>
            <td style="background: url(/images/iot/top_mid.gif) repeat-x;" valign="top">
                <div style="margin: 0; padding: 15px 0 0 27px;"><img
                        src="/images/logos/appLogo.png"/></div>
            </td>
            <td style="background: url(/images/iot/top_header_left.gif) no-repeat; width: 3px; height: 77px;"></td>
            <td style="background: url(/images/iot/top_header_mid.gif) repeat-x; height: 77px;">
                <div style="height: 43px; padding: 31px 0 0 4px; margin: 0; color: #fff; text-transform: uppercase; font-weight: bold; display: block;">
                    {{text.iot.title}}
                </div>
            </td>
            <td style="background: url(/images/iot/top_header_mid.gif) repeat-x; height: 54px; padding: 23px 0 0 0;"
                align="right" valign="top"></td>

            <td style="background: url(/images/iot/top_right.gif) no-repeat; width: 26px; height: 77px;">&nbsp;</td>
        </tr>
    </table>
    <div id="main-content-process">
        <div style="height: 4px;"></div>
        <div style="height: 18px; padding: 0 0 0 12px;">&nbsp;</div>
        <div class="portlet">
            <div class="portlet-top-process">
                <div class="portlet-process-header">&nbsp;</div>
            </div>
            <div class="portlet-body-process">
                <div class="imaindiv">
                    {{{body}}}
                    <br/>
                    <div style="text-align: center;">
                    <a href="../">{{text.iot.backToSite}}</a>
                    </div>
                </div>
            </div>
            <div class="portlet-bottom-process"></div>
        </div>
    </div>
    <div id="footer-process">
        <div id="footer-top-process" style="font-size:8px"
        >&nbsp;
        </div>
        <div id="footer-body-process">
            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center">© Copyright WedCMS, développé par xAleex77 en 2013. Tous droits réservés.</td>
                </tr>
            </table>
        </div>
        <div id="footer-bottom-process">&nbsp;</div>
    </div>
</div>