<div class="portlet-scale gold">
    <div class="portlet-scale-header"><h3>{{text.hotel.welcome.side.box1.title}}</h3></div>
    <div class="portlet-scale-body">
        <div class="portlet-scale-content">
            <p>
                <img id="galleryImage" src="/images/hotel/news_icon_01.gif" alt="" width="36" height="36" border="0" align="right">
                {{{text.hotel.welcome.side.box1.content}}}
            </p>
            <div class="clear"></div>
        </div>
    </div>
    <div class="portlet-scale-bottom">
        <div class="portlet-scale-bottom-body"></div>
    </div>
</div>
<div class="portlet-scale gold">
    <div class="portlet-scale-header"><h3>{{text.hotel.welcome.side.box2.title}}</h3></div>
    <div class="portlet-scale-body">
        <div class="portlet-scale-content">
            1. <a href="/shockwave" target="_blank">{{text.hotel.welcome.side.box2.text1}}</a> {{text.hotel.welcome.side.box2.text2}}<br>
            2. <a href="javascript:enterHotel()">{{text.hotel.welcome.side.box2.text3}}</a><br>
            3. {{text.hotel.welcome.side.box2.text4}}<br><br>
            <div class="clear"></div>
        </div>
    </div>
    <div class="portlet-scale-bottom">
        <div class="portlet-scale-bottom-body"></div>
    </div>
</div>
<div class="portlet-scale gold">
    <div class="portlet-scale-header"><h3>{{text.hotel.welcome.side.box3.title}}</h3></div>
    <div class="portlet-scale-body">
        <div class="portlet-scale-content">
            <p><img src="/images/hotel/hc_badge.gif" alt="" width="33" height="39" border="0" align="right">
                {{{text.hotel.welcome.side.box3.content}}}<br>
            </p>
            <p></p>
            <p>
            </p>
            <div class="clear"></div>
        </div>
    </div>
    <div class="portlet-scale-bottom">
        <div class="portlet-scale-bottom-body"></div>
    </div>
</div>
<div class="portlet-scale gold">
    <div class="portlet-scale-header"><h3>{{text.hotel.welcome.side.box4.title}}</h3></div>
    <div class="portlet-scale-body">
        <div class="portlet-scale-content">
            <img src="/images/hotel/mgm_icon.gif" alt="" align="right">
            {{{text.hotel.welcome.side.box4.content}}}
            <br>
            <div class="clear"></div>
        </div>
    </div>
    <div class="portlet-scale-bottom">
        <div class="portlet-scale-bottom-body"></div>
    </div>
</div>