<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
        </div>
        <div id="page-headline-text">{{text.homepages.homepages.title}}</div>
    </div>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                <div class="v2box red light">
                    <div class="headline"><h3>{{text.homepages.homepages.box1.title}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">
                        <br>
                        <table id="table1" width="100%" border="0">
                            <tbody>
                            <tr>
                                <td><img src="/images/homepages/tahti.gif" alt="" vspace="5" hspace="5" border="0"
                                         align="bottom"></td>
                                <td>
                                    {{{text.homepages.homepages.box1.content1}}}
                                    <br></td>
                            </tr>
                            <tr>
                                <td><img src="/images/homepages/tahti.gif" alt="" vspace="5" hspace="5" border="0"
                                         align="bottom"> <br></td>
                                <td>
                                    {{{text.homepages.homepages.box1.content2}}}
                                    <br></td>
                            </tr>
                            <tr>
                                <td><img src="/images/homepages/tahti.gif" alt="" vspace="5" hspace="5" border="0"
                                         align="bottom">
                                </td>
                                <td>
                                    {{{text.homepages.homepages.box1.content3}}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div align="center"><img
                                src="/images/homepages/Habbohome_edit.gif"
                                alt="" vspace="0" hspace="0" border="0"></div>
                        <div align="center">&nbsp;</div>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
                <div class="v2box red light">
                    <div class="headline"><h3>{{text.homepages.homepages.box2.title}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">
                        <img src="/images/homepages/nail2.gif"
                             alt="" vspace="3" hspace="3" border="0" align="left">
                        {{text.homepages.homepages.box2.content}}<br><br>
                        ex: <span style="font-weight: bold;">www.habbo.fr/home/Norman</span><br>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
                <div class="v2box red light">
                    <div class="headline"><h3>{{text.homepages.homepages.box3.title}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">

                        <img src="/images/homepages/Tuu.png"
                             alt="" vspace="0" hspace="0" border="0" align="right">
                        {{{text.homepages.homepages.box3.content}}}
                        <br>
                        <br>
                        <ul>
                            {{#each homepages}}
                                <li>
                                    <a href="/home/{{this.username}}">{{this.username}}</a>
                                </li>
                            {{/each}}
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
                <div class="v2box red light">
                    <div class="headline"><h3>{{text.homepages.homepages.box4.title}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">
                        <img src="/images/homepages/habbo_purse_big_64.gif"
                             alt="" vspace="5" hspace="5" border="0" align="right">
                        {{text.homepages.homepages.box4.content}}
                        <br><br>
                        <a href="/credits">{{text.homepages.homepages.box4.link1}}</a><br>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">

                <div class="v2box green darker">
                    <div class="headline"><h3>{{text.homepages.homepages.box5.title}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">
                        <div align="center"><img
                                src="/images/homepages/habbo_home_landingpage.gif"
                                alt=""><br></div>
                        <table id="table1" width="100%" border="0">
                            <tbody>
                            <tr>

                                <td><img
                                        src="/images/homepages/tahti.gif"
                                        alt="" vspace="5" hspace="5" border="0" align="top"></td>
                                <td style="vertical-align: top;"><br><br>
                                    {{text.homepages.homepages.box5.content1}}
                                    <br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td style="vertical-align: top;" rowspan="5"><br><br><br><img
                                        src="/images/homepages/Habbohome_stuff.gif"
                                        alt="" vspace="0" hspace="0" border="0" align="left"></td>
                                <td style="vertical-align: top;"><br></td>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td><img
                                        src="/images/homepages/tahti.gif"
                                        alt="" vspace="5" hspace="5" border="0" align="top"></td>
                                <td><br>
                                    {{text.homepages.homepages.box5.content2}}
                                    <br><br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td style="vertical-align: top;" align="left"><br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td><img
                                        src="/images/homepages/tahti.gif"
                                        alt="" vspace="5" hspace="5" border="0" align="top"></td>
                                <td>
                                    {{text.homepages.homepages.box5.content3}}
                                    <br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td><br></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;"><br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td style="vertical-align: top;"><br></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;"><img
                                        src="/images/homepages/tahti.gif"
                                        alt="" vspace="5" hspace="5" border="0" align="top"></td>
                                <td style="vertical-align: top;">
                                    {{text.homepages.homepages.box5.content4}}
                                    <br><br><br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td style="vertical-align: top;"><br></td>
                                <td style="vertical-align: top;"><br></td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
                <div class="v2box green darker">
                    <div class="headline"><h3>{{text.homepages.homepages.box6.title}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">
                        <table id="table1" width="100%" border="0">
                            <tbody>
                            <tr>
                                <td valign="top"><img src="/images/homepages/inst_Introduction.gif">
                                </td>
                                <td valign="top">
                                    {{{text.homepages.homepages.box6.content1}}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p>
                        </p>
                        <table id="table2" width="100%" border="0">
                            <tbody>
                            <tr>
                                <td valign="top">
                                    <img src="/images/homepages/inst_inventory_purchasing.gif">
                                </td>
                                <td valign="top">
                                    {{{text.homepages.homepages.box6.content2}}}
                                    <br>
                                    <p><a target="_self" href="/credits">{{{text.homepages.homepages.box6.link1}}}<br></a>
                                    </p></td>
                            </tr>
                            </tbody>
                        </table>
                        <p></p>
                        <p>
                        </p>
                        <table id="table3" width="100%" border="0">
                            <tbody>
                            <tr>
                                <td valign="top"><img src="/images/homepages/inst_Stickie_Notes.gif">
                                </td>
                                <td valign="top">
                                    {{{text.homepages.homepages.box6.content3}}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p></p>
                        <p>
                        </p>
                        <table id="table4" width="100%" border="0">
                            <tbody>
                            <tr>
                                <td valign="top"><img src="/images/homepages/inst_Stickers.gif">
                                </td>
                                <td valign="top">
                                    {{{text.homepages.homepages.box6.content4}}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p></p>
                        <p>
                        </p>
                        <table id="table5" width="100%" border="0">
                            <tbody>
                            <tr>
                                <td valign="top"><img
                                        src="/images/homepages/Habbo_Homes_Instructions_Using_Habbo_Homes_Widgets.gif"
                                        alt=""><br></td>
                                <td valign="top">
                                    {{{text.homepages.homepages.box6.content5}}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p></p>
                        <p>
                        </p>
                        <table id="table6" width="100%" border="0">
                            <tbody>
                            <tr>
                                <td>
                                    <img src="/images/homepages/inst_backgrounds.gif">
                                </td>
                                <td>
                                    {{{text.homepages.homepages.box6.content6}}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p></p>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>

    <br style="clear: both;">
</div>