<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            {{text.global.menu.news.title}}
        </div>
        <div id="page-headline-text">{{text.global.menu.news.title}}</div>
    </div>

    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.news.news.box1.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p>{{text.news.news.box1.content}}<br></p>
                            <form action="/news" method="post">
                                <p style="text-align: center">
                                    <input type="text" name="q" placeholder="{{text.news.news.box1.text1}}"/><br/>
                                    <input type="submit" style="width:162px;" value="{{text.news.news.box1.button1}}">
                                </p>
                            </form>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">

                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.news.news.box2.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p></p>
                            {{#if news}}
                                <ul>
                                    {{#each news}}
                                        <li>
                                            <span class="articledate">[{{this.date}}]</span>
                                            <a href="/news/{{this.id}}">{{this.title}}</a>
                                        </li>
                                    {{/each}}
                                </ul>
                            {{else}}
                                <p>{{text.news.news.box2.noResults}}</p>
                                <p><a href="/news">{{text.news.news.box2.backToNewsList}}</a></p>
                            {{/if}}
                            <p></p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>

    <br style="clear: both;">
</div>