<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            {{text.preferences.title}}
        </div>
        <div id="page-headline-text">{{text.preferences.title}}</div>
    </div>
    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/preferences/sub}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">
                <div class="v2box blue light">
                    <div class="headline"><h3>{{text.preferences.look.mySex}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">
                        {{#if successSex}}
                            <div style="display:block;margin-bottom:10px;">
                                <div class="content-ok">
                                    <div class="content-ok-body">
                                        {{text.preferences.look.successSex}}
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="content-ok-bottom">
                                    <div class="content-ok-bottom-body"></div>
                                </div>
                            </div>
                        {{/if}}
                        <form id="sexForm" action="/preferences/changeSex" method="post">
                            <select style="width:250px;" name="sex">
                                <option value="M"{{#ifCond user.sex '==' 'M'}} selected{{/ifCond}}>{{text.preferences.look.boy}}</option>
                                <option value="F"{{#ifCond user.sex '==' 'F'}} selected{{/ifCond}}>{{text.preferences.look.girl}}</option>
                            </select>
                            <input type="submit" style="display:none;" />
                            <a class="colorlink orange" style="margin-top:4px;" href="javascript:document.querySelector('#sexForm').submit()"><span>{{text.preferences.look.save}}</span></a>
                        </form>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
                <div class="v2box blue light">
                    <div class="headline"><h3>{{text.preferences.look.title}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">
                        {{#if successFigure}}
                            <div style="display:block;margin-bottom:10px;">
                                <div class="content-ok">
                                    <div class="content-ok-body">
                                        {{text.preferences.look.success}}
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="content-ok-bottom">
                                    <div class="content-ok-bottom-body"></div>
                                </div>
                            </div>
                        {{/if}}
                        <div class="imagerContainer">
                            <div>
                                <div class="imagerItemContainer">
                                    <a class="imagerLeftArrow" href="javascript:imagerImageLeft('haircut')"></a>
                                    <div class="imagerItemImageContainer">
                                        <img id="haircutImage" src="/habbo-imager/M/haircut/100/01.png"/>
                                    </div>
                                    <a class="imagerRightArrow" href="javascript:imagerImageRight('haircut')"></a>
                                </div>
                                <div class="imagerItemContainer">
                                    <a class="imagerLeftArrow" href="javascript:imagerImageLeft('face')"></a>
                                    <div class="imagerItemImageContainer">
                                        <img id="faceImage" src="/habbo-imager/M/face/180.png"/>
                                    </div>
                                    <a class="imagerRightArrow" href="javascript:imagerImageRight('face')"></a>
                                </div>
                                <div class="imagerItemContainer">
                                    <a class="imagerLeftArrow" href="javascript:imagerImageLeft('top')"></a>
                                    <div class="imagerItemImageContainer">
                                        <img id="topImage" src="/habbo-imager/M/top/210/01.png"/>
                                    </div>
                                    <a class="imagerRightArrow" href="javascript:imagerImageRight('top')"></a>
                                </div>
                                <div class="imagerItemContainer">
                                    <a class="imagerLeftArrow" href="javascript:imagerImageLeft('pants')"></a>
                                    <div class="imagerItemImageContainer">
                                        <img id="pantsImage" src="/habbo-imager/M/pants/270/01.png"/>
                                    </div>
                                    <a class="imagerRightArrow" href="javascript:imagerImageRight('pants')"></a>
                                </div>
                                <div class="imagerItemContainer">
                                    <a class="imagerLeftArrow" href="javascript:imagerImageLeft('shoes')"></a>
                                    <div class="imagerItemImageContainer">
                                        <img id="shoesImage" src="/habbo-imager/M/shoes/290/01.png"/>
                                    </div>
                                    <a class="imagerRightArrow" href="javascript:imagerImageRight('shoes')"></a>
                                </div>
                            </div>
                            <div class="imagerFigure"><img id="imagerFigure"
                                    src="http://127.0.0.1:8080/habbo-imager?figure="/></div>
                            <div>
                                <div class="imagerItemContainer">
                                    <a class="imagerLeftArrow" href="javascript:imagerColorLeft('haircut')"></a>
                                    <div class="imagerItemImageContainer">
                                        <div id="haircutColor" class="imagerColor" style="background:#000000;"></div>
                                    </div>
                                    <a class="imagerRightArrow" href="javascript:imagerColorRight('haircut')"></a>
                                </div>
                                <div class="imagerItemContainer">
                                    <a class="imagerLeftArrow" href="javascript:imagerColorLeft('face')"></a>
                                    <div class="imagerItemImageContainer">
                                        <div id="faceColor" class="imagerColor" style="background:#000000;"></div>
                                    </div>
                                    <a class="imagerRightArrow" href="javascript:imagerColorRight('face')"></a>
                                </div>
                                <div class="imagerItemContainer">
                                    <a class="imagerLeftArrow" href="javascript:imagerColorLeft('top')"></a>
                                    <div class="imagerItemImageContainer">
                                        <div id="topColor" class="imagerColor" style="background:#000000;"></div>
                                    </div>
                                    <a class="imagerRightArrow" href="javascript:imagerColorRight('top')"></a>
                                </div>
                                <div class="imagerItemContainer">
                                    <a class="imagerLeftArrow" href="javascript:imagerColorLeft('pants')"></a>
                                    <div class="imagerItemImageContainer">
                                        <div id="pantsColor" class="imagerColor" style="background:#000000;"></div>
                                    </div>
                                    <a class="imagerRightArrow" href="javascript:imagerColorRight('pants')"></a>
                                </div>
                                <div class="imagerItemContainer">
                                    <a class="imagerLeftArrow" href="javascript:imagerColorLeft('shoes')"></a>
                                    <div class="imagerItemImageContainer">
                                        <div id="shoesColor" class="imagerColor" style="background:#000000;"></div>
                                    </div>
                                    <a class="imagerRightArrow" href="javascript:imagerColorRight('shoes')"></a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <br><br>
                        <form id="figureForm" action="/preferences/changeFigure" method="post">
                            <input type="hidden" name="figure" id="inputFigure" />
                            <a class="colorlink orange" href="javascript:document.querySelector('#figureForm').submit()"><span>{{text.preferences.look.save}}</span></a>
                        </form>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>
    <br style="clear: both;">
</div>
<script>
    var habboInfos = {
        haircut: {
            color: '{{habboInfos.haircut.color}}',
            sprite: '{{habboInfos.haircut.sprite}}'
        },
        face: {
            color: '{{habboInfos.face.color}}',
            sprite: '{{habboInfos.face.sprite}}'
        },
        top: {
            color: '{{habboInfos.top.color}}',
            sprite: '{{habboInfos.top.sprite}}'
        },
        pants: {
            color: '{{habboInfos.pants.color}}',

            sprite: '{{habboInfos.pants.sprite}}'
        },
        shoes: {
            color: '{{habboInfos.shoes.color}}',
            sprite: '{{habboInfos.shoes.sprite}}'
        }
    }
    var colors = {
        {{#each colors}}{{this.[0]}}: [{{#each this.[1]}}'{{this}}',{{/each}}],
        {{/each}}
    };
    var sprites = {
        haircut: [{{#each sprites.haircut}}'{{this}}',{{/each}}],
        face: [{{#each sprites.face}}'{{this}}',{{/each}}],
        top: [{{#each sprites.top}}'{{this}}',{{/each}}],
        pants: [{{#each sprites.pants}}'{{this}}',{{/each}}],
        shoes: [{{#each sprites.shoes}}'{{this}}',{{/each}}],
    };

    const habboImager = {
        haircut: {color:0,sprite:0},
        face: {color:0,sprite:0},
        top: {color:0,sprite:0},
        pants: {color:0,sprite:0},
        shoes: {color:0,sprite:0},
    };

    const haircutImage = document.querySelector('#haircutImage');
    const faceImage = document.querySelector('#faceImage');
    const topImage = document.querySelector('#topImage');
    const pantsImage = document.querySelector('#pantsImage');
    const shoesImage = document.querySelector('#shoesImage');

    const haircutColor = document.querySelector('#haircutColor');
    const faceColor = document.querySelector('#faceColor');
    const topColor = document.querySelector('#topColor');
    const pantsColor = document.querySelector('#pantsColor');
    const shoesColor = document.querySelector('#shoesColor');

    function loadImager() {
        // on récupère l'index de chaque élément pour pouvoir utiliser le max et revenir au début
        // il faut charger chaque élément actuel en image
        // ensuite charger chaque couleur
        // ensuite on peut faire plus et moin sur les couleurs
        // ensuite on peut faire plus et moins sur les vetements
        habboImager.haircut.sprite = sprites.haircut.indexOf(habboInfos.haircut.sprite);
        habboImager.haircut.color = habboInfos.haircut.color - 1;
        habboImager.face.sprite = sprites.face.indexOf(habboInfos.face.sprite);
        habboImager.face.color = habboInfos.face.color - 1;
        habboImager.top.sprite = sprites.top.indexOf(habboInfos.top.sprite);
        habboImager.top.color = habboInfos.top.color - 1;
        habboImager.pants.sprite = sprites.pants.indexOf(habboInfos.pants.sprite);
        habboImager.pants.color = habboInfos.pants.color - 1;
        habboImager.shoes.sprite = sprites.shoes.indexOf(habboInfos.shoes.sprite);
        habboImager.shoes.color = habboInfos.shoes.color - 1;
/*        haircutImage.src = '/habbo-imager/{{user.sex}}/haircut/' + habboInfos.haircut.sprite + '/01.png';
        haircutColor.style.backgroundColor = '#' + colors[habboInfos.haircut.sprite][habboImager.haircut.color];
        faceImage.src = '/habbo-imager/{{user.sex}}/face/' + habboInfos.face.sprite + '.png';
        faceColor.style.backgroundColor = '#' + colors[habboInfos.face.sprite][habboImager.face.color];
        topImage.src = '/habbo-imager/{{user.sex}}/top/' + habboInfos.top.sprite + '/01.png';
        topColor.style.backgroundColor = '#' + colors[habboInfos.top.sprite][habboImager.top.color];
        pantsImage.src = '/habbo-imager/{{user.sex}}/pants/' + habboInfos.pants.sprite + '/01.png';
        pantsColor.style.backgroundColor = '#' + colors[habboInfos.pants.sprite][habboImager.pants.color];
        shoesImage.src = '/habbo-imager/{{user.sex}}/shoes/' + habboInfos.shoes.sprite + '/01.png';
        shoesColor.style.backgroundColor = '#' + colors[habboInfos.shoes.sprite][habboImager.shoes.color];*/
        createImage();
    }

    loadImager();

    function formatZero(number) {
        if(number < 10) {
            number = '0' + number;
        }
        return number;
    }

    function createImage() {
        haircutImage.src = '/habbo-imager/{{user.sex}}/haircut/' + sprites.haircut[habboImager.haircut.sprite] + '/' + formatZero(habboImager.haircut.color + 1) + '.png';
        haircutColor.style.backgroundColor = '#' + colors[sprites.haircut[habboImager.haircut.sprite]][habboImager.haircut.color];
        faceImage.src = '/habbo-imager/{{user.sex}}/face/' + sprites.face[habboImager.face.sprite] + '.png';
        faceColor.style.backgroundColor = '#' + colors[sprites.face[habboImager.face.sprite]][habboImager.face.color];
        topImage.src = '/habbo-imager/{{user.sex}}/top/' + sprites.top[habboImager.top.sprite] + '/' + formatZero(habboImager.top.color + 1) + '.png';
        topColor.style.backgroundColor = '#' + colors[sprites.top[habboImager.top.sprite]][habboImager.top.color];
        pantsImage.src = '/habbo-imager/{{user.sex}}/pants/' + sprites.pants[habboImager.pants.sprite] + '/' + formatZero(habboImager.pants.color + 1) + '.png';
        pantsColor.style.backgroundColor = '#' + colors[sprites.pants[habboImager.pants.sprite]][habboImager.pants.color];
        shoesImage.src = '/habbo-imager/{{user.sex}}/shoes/' + sprites.shoes[habboImager.shoes.sprite] + '/' + formatZero(habboImager.shoes.color + 1) + '.png';
        shoesColor.style.backgroundColor = '#' + colors[sprites.shoes[habboImager.shoes.sprite]][habboImager.shoes.color];
        let imageLink = '/habbo-imager/?figure=';
        let figure = '';
        figure += sprites.haircut[habboImager.haircut.sprite] + formatZero(habboImager.haircut.color + 1);
        figure += sprites.face[habboImager.face.sprite] + formatZero(habboImager.face.color + 1);
        figure += sprites.top[habboImager.top.sprite] + formatZero(habboImager.top.color + 1);
        figure += sprites.pants[habboImager.pants.sprite] + formatZero(habboImager.pants.color + 1);
        figure += sprites.shoes[habboImager.shoes.sprite] + formatZero(habboImager.shoes.color + 1);
        const figureImage = document.querySelector('#imagerFigure');
        figureImage.src = imageLink + figure;
        const figureInput = document.querySelector('#inputFigure');
        figureInput.value = figure;
    }

    function imagerImageLeft(type) {
        if(habboImager[type].sprite === 0) {
            habboImager[type].sprite = sprites[type].length - 1;
        } else {
            habboImager[type].sprite--;
        }
        habboImager[type].color = 0;
        createImage();
    }

    function imagerImageRight(type) {
        if(habboImager[type].sprite === sprites[type].length - 1) {
            habboImager[type].sprite = 0;
        } else {
            habboImager[type].sprite++;
        }
        habboImager[type].color = 0;
        createImage();
    }

    function imagerColorLeft(type) {
        if(habboImager[type].color === 0) {
            habboImager[type].color = colors[sprites[type][habboImager[type].sprite]].length - 1;
        } else {
            habboImager[type].color--;
        }
        createImage();
    }

    function imagerColorRight(type) {
        if(habboImager[type].color === colors[sprites[type][habboImager[type].sprite]].length - 1) {
            habboImager[type].color = 0;
        } else {
            habboImager[type].color++;
        }
        createImage();
    }
</script>