<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/hotel">{{text.global.menu.hotel.title}}</a>
            »
            {{text.global.menu.hotel.sub.welcome}}
        </div>
        <div id="page-headline-text">{{text.global.menu.hotel.sub.welcome}}</div>
    </div>
    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/hotel/welcomeSub}}
                <div class="v2box red light">
                    <div class="headline"><h3>{{text.hotel.welcome.side.box2.title}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">
                        1. <a href="/shockwave" target="_blank">{{text.hotel.welcome.side.box2.text1}}</a> {{text.hotel.welcome.side.box2.text2}}
                        <br>
                        2. <a href="javascript:enterHotel()">{{text.hotel.welcome.side.box2.text3}}</a>
                        <br>
                        3. {{text.hotel.welcome.side.box2.text4}}
                        <br><br>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
                <div class="v2box red light">
                    <div class="headline"><h3>{{text.hotel.welcome.side.box4.title}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">
                        <img src="/images/hotel/mgm_icon.gif" alt="" align="right">
                        {{{text.hotel.welcome.side.box4.content}}}
                        <br>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
                <div class="v2box red light">
                    <div class="headline"><h3>{{text.hotel.welcome.side.box1.title}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">
                        <p>
                            <img src="/images/hotel/news_icon_01.gif" width="36" height="36" align="right">
                            {{{text.hotel.welcome.side.box1.content}}}
                        </p>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
                <div class="v2box red light">
                    <div class="headline">
                        <h3>{{text.hotel.welcome.side.box3.title}}</h3>
                    </div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">
                        <p>
                            <img src="/images/hotel/hc_badge.gif" width="33" height="39" align="right">
                            {{{text.hotel.welcome.side.box3.content}}}
                        </p>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">
                <div class="v2box blue light">
                    <div class="headline"><h3>{{text.hotel.welcome.box1.title}}</h3></div>
                    <div class="border">
                        <div></div>
                    </div>
                    <div class="body">
                        <table id="table1" width="100%" border="0">
                            <tbody>
                            <tr>
                                <td>
                                    <img src="/images/hotel/Welcome_1_shockwave_001.gif">
                                </td>
                                <td>{{text.hotel.welcome.box1.text1}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="/images/hotel/Welcome_2_Hotel_001.gif">
                                </td>
                                <td>{{text.hotel.welcome.box1.text2}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="/images/hotel/Welcome_3_stickers_001.gif">
                                </td>
                                <td>
                                    {{text.hotel.welcome.box1.text3}}
                                    <p>
                                        <a href="/home">{{text.hotel.welcome.box1.text6}}</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="/images/hotel/Welcome_4_games_001.gif">
                                </td>
                                <td>
                                    {{text.hotel.welcome.box1.text4}}
                                    <br>
                                    <a href="/games">{{text.hotel.welcome.box1.text6}}</a>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="/images/hotel/Welcome_5_Random.gif">
                                </td>
                                <td>
                                    {{text.hotel.welcome.box1.text5}}
                                    <br>
                                    <a href="/hotel">{{text.hotel.welcome.box1.text6}}</a>
                                    <br>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="clear"></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>
    <br style="clear: both;">
</div>