.button {
    padding: 0;
    margin: 3px 3px 0 0;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    float: right;
}
.report-button {
    padding: 0;
    margin: 0;
    cursor: pointer;
    float: right;
}

.button .button-header {
    padding-left: 4px;
    height: 4px;
    font-size: 1px;
    line-height: 1px;
}

.button .button-header div {
    height: 4px;
}

.button .button-body {
    padding-left: 4px;
}

.button .button-content {
    padding-bottom: 4px;
    padding-right: 4px;
    color: black;
}

/*** GREY ***/
.button.grey .button-header {
    background: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/button_grey_top_l.gif) no-repeat top left;
}

.button.grey .button-header div {
    background: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/button_grey_top_r.gif) no-repeat top right;
}

.button.grey .button-body {
    background: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/button_grey_btm_l.gif) no-repeat bottom left;
}

.button.grey .button-content {
    background: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/button_grey_btm_r.gif) no-repeat bottom right;
}

/*** GREEN ***/
.button.green .button-header {
    background: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/button_green_top_l.gif) no-repeat top left;
}

.button.green .button-header div {
    background: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/button_green_top_r.gif) no-repeat top right;
}

.button.green .button-body {
    background: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/button_green_btm_l.gif) no-repeat bottom left;
}

.button.green .button-content {
    background: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/button_green_btm_r.gif) no-repeat bottom right;
}

/*** RED ***/
.button.red .button-header {
    background: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/button_red_top_l.gif) no-repeat top left;
}

.button.red .button-header div {
    background: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/button_red_top_r.gif) no-repeat top right;
}

.button.red .button-body {
    background: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/button_red_btm_l.gif) no-repeat bottom left;
}

.button.red .button-content {
    background: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/button_red_btm_r.gif) no-repeat bottom right;
}

/***  ***/

.button.report {
    float: left;
}

.button.edit {
    float: right;
}




a.toolbutton {
    float: left;
    display: block;
    height: 22px;
    font-size: 10px;
    color: black !important;
    font-weight: bold;
    text-decoration: none;
    background-image: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/tools_left.gif);
    background-repeat: no-repeat;
    margin: 0 3px 0 0;
    padding: 0 0 0 4px;
    white-space: nowrap;
}

a.toolbutton span {
    color: black !important;
    float: left;
    display: block;
    height: 22px;
    background-image: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/tools_right.gif);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 6px 24px 0 20px;
    cursor: pointer;
}

a.toolbutton.edit {
    background-image: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/tools_edit.gif);
    padding-left: 25px;
}

a.toolbutton.reporting-start {
    background-image: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/tools_reporting_start.gif);
    padding-left: 23px;
}

a.toolbutton.reporting-stop {
    background-image: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/tools_reporting_end.gif);
    padding-left: 23px;
}

a.toolbutton.notes {
    background-image: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/tools_notes.gif);
    padding-left: 28px;
}

a.toolbutton.stickers {
    background-image: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/tools_stickers.gif);
    padding-left: 27px;
}

a.toolbutton.widgets {
    background-image: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/tools_widgets.gif);
    padding-left: 35px;
}

a.toolbutton.backgrounds {
    background-image: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/tools_backgrounds.gif);
    padding-left: 30px;
}

a.toolbutton.save {
    background-image: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/tools_save.gif);
    padding-left: 23px;
    float: right;
}

a.toolbutton.cancel {
    background-image: url(/web/20061130214017im_/http://images.habbohotel.fr/web/web-2.0.1_b21/images/myhabbo/buttons/tools_cancel.gif);
    padding-left: 25px;
    float: right;
    margin-right: 0;
}

a.toolbutton.edit span, a.toolbutton.reporting-start span, a.toolbutton.reporting-stop span,
a.toolbutton.notes span, a.toolbutton.stickers span, a.toolbutton.widgets span,
a.toolbutton.backgrounds span, a.toolbutton.save span, a.toolbutton.cancel span {
    padding-left: 9px;
}