<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/hotel">{{text.global.menu.hotel.title}}</a>
            »
            <a href="/hotel/furniture">{{text.global.menu.hotel.sub.furni}}</a>
            »
            {{text.hotel.furni.menu.catalogue1}}
        </div>
        <div id="page-headline-text">{{text.hotel.furni.menu.catalogue1}}</div>
    </div>

    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/hotel/furniSub}}
                {{>main/hotel/furniSide}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">

                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{{text.hotel.furni.catalogue1.box1.title}}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            {{{text.hotel.furni.catalogue1.box1.content1}}}
                            <br><br>
                            <p align="left"></p>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="1069"><p align="left">
                                        {{{text.hotel.furni.catalogue1.box1.content2}}}
                                    </p>
                                    </td>
                                    <td><p align="left">
                                        <a href="/images/hotel/room_pura.gif" target="_blank"><img src="/images/hotel/thumb_pura.gif"
                                                                        alt="thumb pura" id="galleryImage" width="186"
                                                                        height="126" border="0"></a></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="1068"><p align="left">
                                        {{{text.hotel.furni.catalogue1.box1.content3}}}
                                        <br></p></td>
                                    <td><p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                        <a href="/images/hotel/room_mode.gif" target="_blank"><img src="/images/hotel/thumb_mode.gif" alt="thumb mode" id="galleryImage"
                                                                                               width="186" height="126" border="0"></a></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="1068">
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                            {{{text.hotel.furni.catalogue1.box1.content4}}}
                                            <br></p></td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                            <a href="/images/hotel/room_lodge.gif" target="_blank"><img src="/images/hotel/thumb_lodge.gif" alt="thumb lodge" id="galleryImage"
                                                                                                   width="186" height="126" border="0"></a></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="1065"><p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                        {{{text.hotel.furni.catalogue1.box1.content5}}}
                                        <br></p></td>
                                    <td>
                                        <p align="left">
                                            <a href="/images/hotel/room_plasto.gif" target="_blank"><img src="/images/hotel/thumb_plasto.gif" alt="thumb plasto"
                                                                                                   id="galleryImage" width="186" height="126" border="0"></a></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="1053"><p align="left">
                                        {{{text.hotel.furni.catalogue1.box1.content6}}}
                                        <br>
                                    </p></td>
                                    <td><p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                        <a href="/images/hotel/room_area.gif" target="_blank"><img src="/images/hotel/thumb_area.gif" alt="thumb area" id="galleryImage"
                                                                                               width="186" height="126" border="0"></a></p></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="1065">
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                            {{{text.hotel.furni.catalogue1.box1.content7}}}
                                            <br></p></td>
                                    <td><p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                        <a href="/images/hotel/room_iced.gif" target="_blank"><img src="/images/hotel/thumb_iced.gif" alt="thumb iced" id="galleryImage"
                                                                                               width="186" height="126" border="0"></a></p></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="1069">
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                            {{{text.hotel.furni.catalogue1.box1.content8}}}
                                            <br>
                                        </p></td>
                                    <td><p align="left">
                                        <a href="/images/hotel/room_candy.gif" target="_blank"><img src="/images/hotel/thumb_candy.gif" alt="thumb candy" id="galleryImage"
                                                                                               width="186" height="126" border="0"></a></p></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="1068"><p align="left">
                                        {{{text.hotel.furni.catalogue1.box1.content9}}}
                                        <br></p></td>
                                    <td><p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                        <a href="/images/hotel/room_bathroom.gif" target="_blank"><img src="/images/hotel/thumb_bathroom.gif" alt="thumb bathroom"
                                                                                               id="galleryImage" width="186" height="126" border="0"></a>
                                    </p></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="1068"><p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                        {{{text.hotel.furni.catalogue1.box1.content10}}}
                                    </p>
                                    </td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                            <a href="/images/hotel/room_plants.gif" target="_blank"><img src="/images/hotel/thumb_plants.gif" alt="thumb plants"
                                                                                                   id="galleryImage" width="186" height="126" border="0"></a></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p></p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>

    <br style="clear: both;">
</div>