<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/hotel">{{text.global.menu.hotel.title}}</a>
            »
            <a href="/hotel/furniture">{{text.global.menu.hotel.sub.furni}}</a>
            »
            {{text.hotel.furni.menu.decorationExamples}}
        </div>
        <div id="page-headline-text">{{text.hotel.furni.menu.decorationExamples}}</div>
    </div>

    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/hotel/furniSub}}
                {{>main/hotel/furniSide}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{{text.hotel.furni.decorationExamples.box1.title}}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <img id="galleryImage" src="/images/hotel/choice_newsie.gif" alt="" width="99" height="118"
                                 border="0" align="right">
                            {{{text.hotel.furni.decorationExamples.box1.content1}}}
                            <br>
                            <p></p>
                            <p></p>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216">
                                        <p align="left">
                                            <a href="/images/hotel/room_kick.gif" target="_blank"><img id="galleryImage" alt="thumb kick" src="/images/hotel/thumb_kick.gif"
                                                 width="186" height="126" border="0"></a></p></td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                            {{{text.hotel.furni.decorationExamples.box1.content2}}}
                                            <br></p></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216"><p align="left">
                                        <a href="/images/hotel/room_pacman.gif" target="_blank"><img id="galleryImage" alt="thumb pacman" src="/images/hotel/thumb_pacman.gif"
                                             width="186" height="126" border="0"></a></p></td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                            {{{text.hotel.furni.decorationExamples.box1.content3}}}
                                            <br></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216"><p align="left">
                                        <a href="/images/hotel/room_fridge.gif" target="_blank"><img id="galleryImage" alt="thumb fridge" src="/images/hotel/thumb_fridge.gif"
                                             width="186" height="126" border="0"></a></p></td>
                                    <td>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                            {{{text.hotel.furni.decorationExamples.box1.content4}}}
                                            <br>
                                        </p></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216"><p align="left">
                                        <a href="/images/hotel/room_maze.gif" target="_blank"><img id="galleryImage7"
                                             src="/images/hotel/thumb_maze.gif"
                                             alt="" width="186" height="126" border="0"
                                             align="left"></a></p></td>
                                    <td><p style="margin-top: 0pt; margin-bottom: 0pt;" align="left"></p>
                                        <p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                            {{{text.hotel.furni.decorationExamples.box1.content5}}}
                                            <br></p></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216"><p align="left">
                                        <a href="/images/hotel/room_theatre.gif" target="_blank"><img id="galleryImage" alt="thumb theatre"
                                             src="/images/hotel/thumb_theatre.gif" width="186" height="126" border="0"></a></p></td>
                                    <td><p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                        {{{text.hotel.furni.decorationExamples.box1.content6}}}
                                        <br></p></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216"><p align="left">
                                        <a href="/images/hotel/room_discussionroom.gif" target="_blank"><img id="galleryImage"
                                             src="/images/hotel/thumb_discussionroom.gif"
                                             alt="" width="186" height="126" border="0" align="left"></a></p></td>
                                    <td><p style="margin-top: 0pt; margin-bottom: 0pt;" align="left"><br>
                                        {{{text.hotel.furni.decorationExamples.box1.content7}}}
                                        <br></p></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216"><p align="left">
                                        <a href="/images/hotel/room_restaurant2.gif" target="_blank"><img id="galleryImage8"
                                             src="/images/hotel/thumb_restaurant2.gif"
                                             alt="" width="186" height="126" border="0" align="left"></a></p></td>
                                    <td><p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                        {{{text.hotel.furni.decorationExamples.box1.content8}}}
                                        <br>
                                    </p></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216"><p align="left"><br></p></td>
                                    <td><br></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" border="0">
                                <tbody>
                                <tr>
                                    <td width="216"><p align="left">
                                        <a href="/images/hotel/room_greatwallofchina.gif" target="_blank"><img id="galleryImage10"
                                             src="/images/hotel/thumb_greatwallofchina.gif"
                                             alt="" width="186" height="126" border="0"
                                                                                                   align="left"></a></p></td>
                                    <td><p style="margin-top: 0pt; margin-bottom: 0pt;" align="left">
                                        <br>
                                        {{{text.hotel.furni.decorationExamples.box1.content9}}}
                                    </p></td>
                                </tr>
                                </tbody>
                            </table>
                            <p></p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>

    <br style="clear: both;">
</div>