<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/hotel">{{text.global.menu.hotel.title}}</a>
            »
            <a href="/hotel/furniture">{{text.global.menu.hotel.sub.furni}}</a>
            »
            {{text.hotel.furni.menu.trading}}
        </div>
        <div id="page-headline-text">{{text.hotel.furni.menu.trading}}</div>
    </div>

    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                <div id="top-3rd-level"></div>


                <div id="content-3rd-level">

                    <ul id="third-level-navi">

                        <li class="inactive">
                            <a href="/hotel/furniture">Mobi Habbo</a>
                        </li>


                        <li class="inactive">
                            <a href="hotel/furniture/catalogue1">Mobi</a>
                        </li>


                        <li class="inactive">
                            <a href="/hotel/furniture/catalogue1">Types de mobi</a>
                        </li>


                        <li class="inactive">
                            <a href="/hotel/furniture/catalogue2">Mobi incontournables</a>
                        </li>


                        <li class="inactive">
                            <a href="/hotel/furniture/catalogue4">Collections éphémères</a>
                        </li>


                        <li class="inactive">
                            <a href="/hotel/furniture/decoration_examples">Exemples de Déco</a>
                        </li>


                        <li class="inactive">
                            <a href="/hotel/furniture/staff_favourite">Les Chouchous des Staff</a>
                        </li>


                        <li class="active">
                            Troc
                        </li>

                    </ul>
                    <div class="clear"></div>
                </div>
                <div id="bottom-3rd-level"></div>
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.furni.trading.box1.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content"> <b>
                            {{{text.hotel.furni.trading.box1.content}}}
                            <br>
                            <p align="center"><img alt="Rel12 money-1credit" id="galleryImage"
                                                   src="/images/hotel/Rel12_money_1credit.gif"
                                                   width="23" height="18" border="0">
                                <img alt="Rel12 moneybag small"
                                     id="galleryImage"
                                     src="/images/hotel/Rel12_moneybag_small.gif"
                                     width="23" height="28" border="0">
                                <img
                                        alt="Rel12 money-50credits" id="galleryImage"
                                        src="/images/hotel/Rel12_money_50credits.gif"
                                        width="60" height="39" border="0"></p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.furni.trading.box2.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <img alt="hc chair 2" id="galleryImage"
                                 src="/images/hotel/hc_chair_2.gif"
                                 width="63" height="91" border="0" align="left">
                            {{text.hotel.furni.trading.box2.content}}
                            <br>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">

                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.furni.trading.box3.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p>
                                {{text.hotel.furni.trading.box3.content1}}
                            </p>
                            {{text.hotel.furni.trading.box3.content2}}
                            <br><br><b>
                            {{text.hotel.furni.trading.box3.content3}}
                        </b>
                            <br>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.furni.trading.box4.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <table cellpadding="10">
                                <tbody>
                                <tr>
                                    <td width="25%" valign="top">
                                        {{text.hotel.furni.trading.box4.content1}}
                                    </td>
                                    <td width="25%" valign="top">
                                        {{text.hotel.furni.trading.box4.content2}}
                                    </td>
                                    <td width="25%" valign="top">
                                        {{text.hotel.furni.trading.box4.content3}}
                                        <br></td>
                                    <td width="25%" valign="top">
                                        {{text.hotel.furni.trading.box4.content4}}
                                        <br></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>

    <br style="clear: both;">
</div>