<div id="submenu">
    {{#ifCond page '==' 'hotel'}}
        {{>main/header/menu/sub/hotel}}
    {{else}}
        {{#ifCond page '==' 'credits'}}
            {{>main/header/menu/sub/credits}}
        {{else}}
            {{#ifCond page '==' 'club'}}
                {{>main/header/menu/sub/club}}
            {{else}}
                <div class="subnav"></div>
            {{/ifCond}}
        {{/ifCond}}
    {{/ifCond}}
</div>