<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/hotel">{{text.global.menu.hotel.title}}</a>
            »
            <a href="/hotel/welcome_to_habbo_hotel">{{text.global.menu.hotel.sub.welcome}}</a>
            »
            {{text.hotel.welcome.menu.helpSafety}}
        </div>
        <div id="page-headline-text">{{text.hotel.welcome.menu.helpSafety}}</div>
    </div>
    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/hotel/welcomeSub}}
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.welcome.helpSafety.box1.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <img src="/images/hotel/404_G.gif" align="right">
                            {{{text.hotel.welcome.helpSafety.box1.content}}}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header">
                        <h3>{{text.hotel.welcome.helpSafety.box2.title}}</h3>
                    </div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <img src="/images/hotel/HabboX_2.gif" align="right">
                            {{{text.hotel.welcome.helpSafety.box2.content}}}
                            <br>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header">
                        <h3>{{text.hotel.welcome.helpSafety.box3.title}}</h3>
                    </div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <img src="/images/hotel/image_5.gif" align="right">
                            {{{text.hotel.welcome.helpSafety.box3.content}}}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>
    <br style="clear: both;">
</div>