<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a>
            »
            <a href="/hotel">{{text.global.menu.hotel.title}}</a>
            »
            <a href="/hotel/welcome_to_habbo_hotel">{{text.global.menu.hotel.welcome}}</a>
            »
            {{text.hotel.welcome.menu.room}}
        </div>
        <div id="page-headline-text">{{text.hotel.welcome.menu.room}}</div>
    </div>
    <table class="content-2col" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="width: 8px;"></td>
            <td style="width: 202px;" class="habboPage-col" valign="top">
                {{>main/hotel/welcomeSub}}
                {{>main/hotel/welcomeSide}}
            </td>
            <td style="width: 539px;" class="habboPage-col rightmost" valign="top">
                <div class="portlet-scale gold">
                    <div class="portlet-scale-header"><h3>{{text.hotel.welcome.room.box1.title}}</h3></div>
                    <div class="portlet-scale-body">
                        <div class="portlet-scale-content">
                            <p>
                                <img src="/images/hotel/makeroom.gif" hspace="5" align="left">
                            </p>
                            {{{text.hotel.welcome.room.box1.content1}}}
                            <br><br><br><br><br><br>
                            <p>
                                <img src="/images/hotel/catalog.gif" hspace="5" align="left">
                            </p>
                            <br>
                            {{{text.hotel.welcome.room.box1.content2}}}
                            <br><br><br><br><br><br><br><br>
                            <img src="/images/hotel/purchase.gif" hspace="5" align="left">
                            <br>
                            {{{text.hotel.welcome.room.box1.content3}}}
                            <br>
                            <br><br><br><br><br><br><br><br>
                            <img src="/images/hotel/furnish.gif" hspace="5" align="left"><br>
                            {{{text.hotel.welcome.room.box1.content4}}}
                            <br>
                            <p>
                                <a href="javascript:enterHotel()">
                                    {{text.hotel.welcome.room.box1.link1}}
                                </a>
                            </p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="portlet-scale-bottom">
                        <div class="portlet-scale-bottom-body"></div>
                    </div>
                </div>
            </td>
            <td style="width: 4px;"></td>
            {{>main/ad}}
        </tr>
        </tbody>
    </table>
    <br style="clear: both;">
</div>