/* general styles, site wide */

body {
	background-color: #083940;
	background-image: url('/images/bg_patterns/habbo.gif');
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

a {
	color: #f16100;
	font-weight: bold;
}

img {
	border: 0;
}

input {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}

hr {
	border: 0;
	color: black;
	height: 1px;
}

input.process-button {
	background-color: #FC6303;
	border: 2px solid black;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

input.process-button:disabled {
	background-color: #CCC;
	border-color: #666;
}

#main-header {
	display: none;
}

#wrapper {
	margin: 0 auto 9px auto;
	text-align: left;
	width: 928px;
}

#overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9000;
	background-color: black;
	opacity: .50;
}

#overlay_progress {
	position: absolute;
	top: 0;
	left: -1500px;
	z-index: 9000;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

.cooperation {
    width: 166px;
    margin-left: 1px;
    padding-bottom: 7px;
    text-align: center;
}

.spacer-vertical {
    background-image: url(/images/blank.gif);
    width: 6px;
}

.spacer-horizontal {
    background-image: url(/images/blank.gif);
    height: 6px;
}


/* --- top element of the pages --- */

#top {
	background-image: url(/images/top_bar/topbar_bg.gif);
	background-repeat: no-repeat;
	background-position: 0 37px;
	height: 216px;
	width: 928px;
	position: relative;
}

#topdim {
	position: absolute;
	top: 40px;
	left: 5px;
	width: 918px;
	height: 151px;
	background-color: black;
	opacity: .30;
}

#topbar {
	color: white;
	position: absolute;
	background-image: url(/images/top_bar/stripe_bg.gif);
	background-repeat: no-repeat;
	width: 928px;
	height: 33px;
	border: 0;
	border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
    margin: 8px 0 0 0;
    font-size: 10px;
}

#topbar td {
	margin: 0;
	padding: 8px 20px 0 20px;
	text-align: center;
	height: 33px;
	vertical-align: top;
}

#topbar-count {
	background-image: url(/images/top_bar/stripe_right.gif);
	background-repeat: no-repeat;
	background-position: top right;
	width: 200px;
}

#topbar td#topbar-menu {
	background-image: url(/images/top_bar/stripe_none_bg.gif);
	background-repeat: repeat-x;
	padding-top: 0;
}

#topbar-status {
	background-image: url(/images/top_bar/stripe_left.gif);
	background-repeat: no-repeat;
	color: red;
	width: 220px;
}

#topbar-status.loggedin {
	color: #7BEB00;
}

#topbar-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#topbar-menu ul li {
	margin: 0;
	padding: 0 0 0 5px;
	/*display: block;*/
	float: left;
	height: 33px;
	background-image: url(/images/top_bar/tab_bg_left.gif);
	background-repeat: no-repeat;
}

#topbar-menu ul li:hover, #topbar-menu ul li.selected {
	background-position: 0 -50px;
}

#topbar-menu ul li div {
	background-image: url(/images/top_bar/tab_bg.gif);
	background-repeat: no-repeat;
	background-position: 100% 0;
	height: 33px;
}

#topbar-menu ul li a {
	color: white;
	text-decoration: none;
	font-weight: normal;
	white-space: nowrap;
	background-repeat: no-repeat;
	display: block;
	padding: 10px 9px 20px 33px;
	height: 33px;
}

#topbar-menu ul li div:hover, #topbar-menu ul li.selected div {
	background-position: 100% -50px;
}

#myhabbo a {
	background-image: url(/images/top_bar/icon_myhabbo.gif);
	background-position: 3px 3px;
}

#mycredits a {
	background-image: url(/images/top_bar/icon_mycredits.gif);
	background-position: 3px 5px;
	padding-left: 33px;
}

#habboclub a {
	background-image: url(/images/top_bar/icon_habboclub.gif);
	background-position: 3px 7px;
	padding-left: 27px;
}

#top-elements {
	width: 928px; 
	height: 155px;
	position: relative;
}

#tabmenu {
	position: absolute;
	top: 41px;
	width: 329px;
	left: 246px;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
}

#tabmenu-bottom {
	background-repeat: no-repeat;
	height: 6px;
	font-size: 1%;
}

#tabmenu-bottom[id] {
	background-image: url(/images/top_bar/menu_bg_bottom.png);
}

#tabmenu-content {
	background-repeat: repeat-y;
}

#tabmenu-content[id] {
	background-image: url(/images/top_bar/menu_bg.png);
}

div.tabmenu-inner {
	display: none;
	padding: 6px 6px 0 6px;
}
div.tabmenu-inner.selected {
	display: block;
}

div.tabmenu-inner h3 {
	margin: 0;
	padding: 4px 6px;
	background-color: #F3F3F3;
	font-size: 10px;
}

div.tabmenu-inner-content {
	border-top: 1px dashed black;
	margin-top: 6px;
}

div.tabmenu-inner-content p {
	margin: 0;
	padding-top: 8px;
}

#tabmenu a.arrow {
	color: black;
	padding-right: 14px;
	background-image: url(/images/top_bar/arrow.gif);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

img.tabmenu-image {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

img.tabmenu-image.myimage {
	margin-top: 0;
	margin-right: 5px;
}

img.tabmenu-image.coins {
	margin-left: 20px;
	margin-top: 10px;
}

#tabmenu span.amount {
	padding: 3px;
	background-color: #FC0;
}

#myhabbo-content div.tabmenu-inner-content {
	text-align: left;
}

#habbologo {
	position: absolute;
	top: 63px;
	left: 35px;
	background-repeat: no-repeat;
	height: 66px;
	width: 160px;
}
 
#habbologo a {
	display: block;
	height: 66px;
	width: 160px;
}

#enter-hotel {
	position: absolute;
	top: 44px;
	right: 151px;
}
 
#enter-hotel a {
	display: block;
	background-image: url(/images/nav/enterHH.gif);
	background-repeat: no-repeat;
	height: 106px;
	width: 105px;
}

#hotel-closed {
    position: absolute;
	top: 7px;
	right: 151px;
    display: block;
	background-image: url(/images/blank.gif);
	background-repeat: no-repeat;
    height: 106px;
	width: 105px;
}


/* --- outer frame --- */

#outer {
	background: url(/images/template/outer-tl.gif) no-repeat;
}

#outer-content {
	margin-left: 9px;
	padding: 9px 9px 0 0;
	background: url(/images/template/outer-tr.gif) no-repeat top right;
}

#outer-bottom {
	height: 9px;
	background: url(/images/template/outer-bl.gif) no-repeat;
}

#outer-bottom-content {
	height: 9px;
	margin-left: 9px;
	background: url(/images/template/outer-br.gif) no-repeat top right;
}


/* --- navigation menu --- */

#menu {
	width: 928px;
	vertical-align: bottom;
	text-align: center; 
	text-transform: uppercase; 
	color: #ffffff; 
	font: bold 10px verdana;
}



#mainmenu {
	width: 100%;
	background: transparent url(/images/navi/navi_bar_slice_top.gif) no-repeat;
	vertical-align: bottom;
	background-position: bottom left;
	height: 39px;
	vertical-align: middle;
	line-height: 39px;
	text-align: left;
	text-transform: uppercase; 
	color: #ffffff; 
	font: bold 10px verdana;
	position: relative;
}

#mainmenu ul {
	margin: 0 0 0 5px;
	padding: 0;
	list-style: none;
	/*clear: both;*/
}

#mainmenu li {
	float: left;
	margin: 0;
	padding: 0;
	height: 39px !important;
	height /**/: 27px;
	height: 39px;
}

#mainmenu li #leftspacer {
	float: left;
	width: 12px;
	padding: 0;
	margin: 0;
}

#mainmenu li a {
	float: left;
	display: block;
	background: transparent url(/images/navi/tab_mid.gif) repeat-x;
	height: 39px !important;
	height /**/: 27px;
	height: 33px;
	text-decoration:none;
	text-shadow: black 2px 2px 2px;	
	font-weight: bold;
	color: #fff;
	line-height: 39px;
	padding: 0 8px 0 0 !important;
	padding /**/: 10px 8px 0 0;
	padding: 6px 8px 0 0;
}

#mainmenu li a img {
	vertical-align: middle;
	padding: 0 !important;
	padding /**/: 4px 0 0 0;
	padding: 4px 0 0 0;
}

#mainmenu li#active a {
	background: transparent url(/images/navi/tab_act_mid.gif) repeat-x;
	color: #000;
	height: 39px	!important;
	height /**/: 27px;
	height: 33px;
	padding: 0 8px 0 0 !important;
	padding /**/: 10px 8px 0 0;
	padding: 6px 8px 0 0;
	text-shadow: none;
}

#mainmenu li #left {
	background: url(/images/navi/navi_bar_end_left.gif) no-repeat;
	width: 8px;
}

#mainmenu li .left, #header2 li .last .left {
	width: 5px;
	float: left;
	background: transparent url(/images/navi/tab_left.gif) no-repeat;
	height: 39px;
}

#mainmenu li .right {
	width: 4px;
	float: left;
	background: transparent url(/images/navi/tab_right.gif) no-repeat;
	height: 39px;
}

#mainmenu li#active .left {
	width: 5px;
	float: left;
	background: transparent url(/images/navi/tab_act_left.gif) no-repeat;
	height: 39px;
}

#mainmenu li#active .right {
	width: 4px;
	float: left;
	background: transparent url(/images/navi/tab_act_right.gif) no-repeat;
	height: 39px;
}

#mainmenu li.last .right {
	background: transparent url(/images/navi/tab_end.gif) no-repeat;
	width: 14px;
	height: 39px;
}

#mainmenu li#active.last .right {
	background: transparent url(/images/navi/tab_act_end.gif) no-repeat;
	width: 14px;
	height: 39px;
}

#submenu {
	background: transparent url(/images/navi/navi_bar_slice_btm.gif) no-repeat;
	width: 928px;
	height: 22px;
	padding: 0 0 0 6px;
	margin: 0;
	position: relative;
}

#submenu .subnav {
	color: #930;		
	padding: 2px 0 2px 3px !important;
	padding /**/: 2px 0 0 3px;
	margin: 0;
	height: 16px;
	text-align: left;
	text-transform: none; 
	font-size: 10px;
}

#submenu .subnav a {
	color: #000;
	text-decoration: none;
	font-size: 10px;
	text-decoration: underline;	
}

#main-content {
	background: url(/images/content_bkg/content_mid.gif) repeat-y;
	background-color: #47839d;
	width: 928px;
	padding: 0;
	margin: 0;
}

/* middle section underneath the navigation menu */

#page-headline {
	background: url(/images/content_bkg/content_headline_bar.gif) no-repeat;
	width: 928px;
	height: 47px;
	/* padding: 1px 0 0 15px;*/
	padding: 0;
	margin: 0;
}

#page-headline-breadcrums {
	color: #9cc;
	font-size: 9px;
	width: 905px;
	height: 15px;
	padding: 2px 0 0 15px;
	margin: 0;
	display: block;
}

#page-headline-breadcrums a {
	color: #9cc;
	text-decoration: none;
	font-weight: normal;
}

#page-headline-text {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	width: 905px;
	height: 20px;
	padding: 4px 0 0 15px;
	margin: 0;
	display: block;
}

/* promo area ------------------------------------------------------------------- */

#promoarea {
	width: 429px;
	float: left;
}

#promoheader {
	width: 429px;
	height: 29px;
	background: url(/images/promo_area/promo_header.gif) no-repeat;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: #fff;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

#promoheader h2 {
	font-size: 10px;
	font-family: Verdana, Arial;
	font-weight: bold;
	margin: 0;
	padding: 10px;
	float: left;
}

#promoheader ul {
	float: right;
	list-style-type: none;
	padding: 0 10px 0 0;
}

#promoheader ul li {
	display: inline;
}

#promoheader ul li a {
	color: #999;
	text-decoration: none;
	padding: 1px 3px;
	border: 1px solid #999;
}

#promoheader ul li a.selected {
	color: white;
	border: 1px solid white;
}

#promocontent {
	width: 429px;
	height: 222px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(/images/promo_area/promo_footer.gif) no-repeat;
	background-position: bottom left;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
	text-align: left;
}

#promoimage {
	margin: 0 0 0 4px;
	border-bottom: 1px solid white;
	height: 178px;
	overflow: hidden;
}

div.promotext {
	width: 295px;
	float: left;
}

div.promotext p {
	margin: 0;
	padding: 4px 10px;
}

#promolinks {
	margin: 3px 3px 0 0;
	float: right
}

#promolinks ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

#promolinks ul li {
	width: 121px;
	height: 16px;
	background: url(/images/promo_area/promo_link_btn.gif) no-repeat;
	margin-bottom: 1px;
}

#promolinks ul li a {
	display: block;
	padding-top: 1px;
	padding-right: 25px;
	color: white;
	text-decoration: none;
	font-size: 10px;
}

/* News box ------------------------------------------------------------------- */

#newsbox {
	background: url(/images/promo_area/news_box.gif) no-repeat;
	width: 311px;
    height: 251px;
    color: #fff;
    color: #000000;
    padding: 0;
    margin: 0;
    float: right;
}


#newsbox-header {
	width: 300px;
    height: 29px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: #fff;
    text-transform: uppercase; 
	font-weight: bold; 
    font-family: Verdana, Arial;
	text-transform: uppercase;
}

#newsbox-header h2 {
	font-size: 10px;
	font-family: Verdana, Arial;
	font-weight: bold;
	margin: 0;
	padding: 10px;
	float: left;
}

#newsbox-header img {
	float: right;
	margin: 10px 0 0 0;
}

#newsbox-text {
	width: 282px;
    height: 184px;
	font-size: 10px;
	padding: 3px 12px 0 10px;
	margin-left: 3px;
	color: #fff;
	overflow: auto;
}

#newsbox-text .newsitem {
	margin-bottom: 8px;
	clear: both;
}

#newsbox-text .oldnewsitem {
	margin-bottom: 4px;	
}

#newsbox-text .newsitem h3 {
	font-size: 1.1em;
	padding: 0;
	margin: 0 0 3px 0;
}
#newsbox-text .newsitem h3 .articledate {
	font-size: 9px;	
}

#newsbox-text .newsitem h3 a {
	font-size: 10px;	
}

#newsbox-text .newsitem p {
	width: 240px;
	font-size: 10px;
	margin: 0;		
}

#newsbox-text .newsitem img {
	float: right;	
}

#newsbox-text .hr {
	margin: 1px 0;
	padding: 0;
	height: 1px;
	font-size: 1px;
	border-bottom: 1px dotted #ccc;	
}

#newsbox-footer {
	color: #fff;
	text-align: right;
	padding-top: 6px;
	padding-right: 10px;
	float: right;
}

body#article .portlet-537-header {
	text-transform: none;
}

body#article .article-author {
	font-style: italic;	
}

.archive-sidebar .promo-button {
	text-align: right;
	float: right;
}

.archive-sidebar ul {
	margin: 0 0 10px 0;
	padding: 0;	
	list-style: none;
}

.archive-sidebar ul li {
	margin-bottom: 5px;	
}

.archive-sidebar .articledate {
	display: block;
	font-size: 9px;	
}

.promo-button {
	background: url(/images/promo_area/promo_link_btn.gif) no-repeat;
	width: 121px;
	height: 16px;
}

.promo-button a {
	display: block;
	padding-top: 1px;
	padding-right: 25px;
	color: white !important;
	text-decoration: none;
	font-size: 10px;
}

.left-float-promos {
	float: left;
	padding: 10px 0 0 10px;
}

.left-float-news {
	float: left;
	/*padding: 9px 0 0 10px;*/
}

.right-align-promos {
	text-align: right;
	padding: 9px 7px 0 0;
}

.right-align-news {
	text-align: right;
	/* padding: 9px 12px 0 0;*/
}

.news-image {
	float: left; 
	width: 60px;
}

.news-text {
	float: left; 
	width: 210px;
}

/* --- portlet styles  --- */

.portlet {
	margin: 0 0 3px 0;
}



#header {
	background-color: #A52200;
	height: 45px;
	padding: 20px 0 0 10px;
}

/* --- footer styles --- */

#footer {
	color: #7295aa;
    font-size: 9px;
    text-align: center;
    font-weight: bold;
}

#footer p {
	margin-top: 0;
	margin-bottom: 4px;
}

#footer p.footer-legal {
	margin-top: 12px;
}

#footer a {
	text-decoration: none;
	color: #7295aa;
}

#footer a:hover {
	color: #ffffff;
}

ul.errors {
	color: red;
	padding: 0;
	list-style-type: none;
}

.error {
	color: red;
}


/*
Client
*/

body#client {
	background-color: black;
	background-image: none !important;
	color: white;
}

#client-topbar {	
	background: url(/images/popup/popup_topbar_slice.gif) repeat-x;
	width: 720px;
	height: 29px;
	font-size: 9px;
	margin: 0 auto;
}

#client-topbar .logo {	
	float: left; 
	width: 230px; 
	height: 19px;
	text-align: left;
}

#client-topbar .logo img {	
	padding: 5px 0 5px 8px;
}

#client-topbar .habbocount {	
	width: 260px; 
	height: 19px; 
	text-align: center; 
	float: left;
	background: url(/images/popup/popup_habbocount_bg.gif) no-repeat;
	margin-top: 6px; 
	padding-top: 3px;
	overflow: hidden;
}

#client-topbar .logout {	
	width: 230px; 
	float: left;
	text-align: right;
	line-height: 19px;
	padding-top: 3px;
}

#client-topbar .logout a {	
	color: #fff;
	vertical-align: middle;
	padding: 2px 16px 0 0;
	text-transform: uppercase;
}

/* individual article pages */
.article-full {
	margin: 0;
	padding: 0;
}
.article-full .article-author {
	margin: 0;
	padding: 0;
}

/* highscores */

ul.scores-navi a.selected {
	color: black;
}

table.scores {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	clear: both;
}

table.scores tr.scores-header {
	background-color: #083D55;
	color: white !important;
}

table.scores tr.odd {
	background-color: white;
}

table.scores tr.even {
	background-color: #C3DFF1;
}

table.scores td, table.scores th {
	margin: 0;
	padding: 2px 7px;
}

table.scores td.scores-games, table.scores td.scores-best, table.scores td.scores-won, table.scores td.scores-percentage, table.scores th {
	text-align: center;
}

table.scores td.scores-position, table.scores td.scores-total, table.scores th.scores-total {
	text-align: right;
}

table.scores th.scores-position, table.scores td.scores-position {
	padding-left: 2px;
}

table.scores th.scores-total, table.scores td.scores-total {
	padding-right: 2px;
}

table.scores th.scores-name {
	text-align: left;
}

table.scores td.scores-name {
	width: 100%;
}

div.scores-navi-wrapper {
	background-color: #CCC;
	height: 21px;
}

ul.scores-navi {
	padding: 0;
	margin-left: 0;
	list-style-type: none;
}

ul.scores-navi li {
	padding: 0;
	margin: 0;
	display: inline;
}

ul.scores-navi li a {
	color: white;
	text-decoration: none;
	padding: 1px 10px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	background-color: #C60;
}

ul.scores-navi li a.selected {
	color: black;
	background-color: #FC0;
}

ul.scores-subnavi {
	padding: 0;
	margin-left: 0;
	list-style-type: none;
}

ul.scores-subsubnavi {
	padding: 0;
	margin-left: 0;
	list-style-type: none;
}

ul.scores-subnavi li, ul.scores-subsubnavi li {
	padding: 0;
	margin-left: 0;
}

.clear {
	clear: both;
}


/* purse */

#purse-redeem-errors {
	text-align: left;
}

p.purse-message {
	text-align: center;
}

div.purse-balance {
	background: url(/images/purse/purse_icon.gif) no-repeat 22px 0;
	padding: 3px 0 15px 60px;
	margin-top: 15px;
}
div.purse-buymore {
	clear: both;
	padding-left: 40px;
	margin: 0;
}

div.purse-buymore a.colorlink {
	float: left;
}

span.purse-balance-amount {
	font-size: 1.2em;
	font-weight: bold;
	background-color: #fff;
}

div.purse-balance form {
	margin-top: 5px;
}

#purse-redeem {
	clear: both;
	border-top: 1px dashed black;	
	padding-top: 5px;
	margin-top: 5px;
}

#purse-form-container form {
	margin: 12px 0 0 0;
	padding: 0;
}

/* --- M&L specific styles --- */
a.ml { 
    border-collapse: collapse; 
    border-style: solid;  
    border-color: black; 
    border-width: 1px; 
    background-color: #FC6303;
    padding: 2px 0.5em 2px 0.5em; 
    margin-top: 4px; 
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

/* --- third level navigation styles --- */
#top-3rd-level {
	background: url(/images/boxes/3rd_level_top.gif) no-repeat bottom left;
	height: 7px; 
	padding: 0; 
	margin: 0;
}

#content-3rd-level {
 	background: url(/images/boxes/3rd_level_mid.gif) repeat-y;
 	padding: 0 8px 4px 8px; 
 	margin: 0; 
 	overflow: hidden;
}

#bottom-3rd-level {
 	background: url(/images/boxes/3rd_level_btm.gif) no-repeat;
 	height: 7px; 
 	margin-bottom: 5px !important; 
 	margin-bottom /**/: 0;
}

ul#third-level-navi {
	margin: 0 0 0 3px; 
	padding-left: 1em;
}

ul#third-level-navi li.active {
	color: white;
	font-weight: bold;
}

ul#third-level-navi li.inactive, ul#third-level-navi li.inactive a {
	color: #66CCFF;
	font-weight: normal;
}

/* video player */

#videoplayer {
	margin-left: 1px;
}

#vp-viewer {
	float: left;
	width: 330px;
}

#vp-list {
	float: right;
	width: 402px;
	margin-bottom: 7px;
}

#vp-scroll {
	height: 334px;
	padding: 7px;
	overflow: auto;
	color: white;
}

#vp-info {
	margin-top: 5px;
}

#vp-info-content {
	color: white;
	padding: 3px;
}

#vp-info-content h3 {
	color: white;
	margin: 0 0 4px 0;
	padding-bottom: 4px;
	border-bottom: 1px dashed white;
	font-size: 11px;
	font-weight: bold;
}

#vp-info-content ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#vp-info-content ul li {
	padding: 0;
}

#vp-scroll h3 {
	clear: both;
	margin: 0 0 .7em 0;
	font-size: 11px;
	font-weight: bold;
}

#vp-scroll h3 span {
	color: white;
	background-color: #D75C03;
	padding: 2px;
}

img.vp-image {
	float: left;
	border: 3px solid #004979;
	margin: -5px 4px 7px 0;
}

img.vp-image.selected {
	border: 3px solid #FFCE00;
}


/* animation vote */

div.animation-vote-radio {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
	position: relative;
}

div.animation-vote-input {
	position: absolute;
}

div.animation-vote-label {
	padding-left: 2em;
}

div.animation-vote-content {
	width: 111px;
}

div.animation-vote-label img {
	border: 3px solid #004979;
	margin-bottom: 2px;
}

div.animation-vote-content div {
	color: white;
	text-align: center;
	font-weight: bold;
	background-color: #004979;
	padding: 2px;
}


a.colorlink {
	clear: right;
	float: right;
	display: block;
	height: 18px;
	color: black;
	font-size: 10px;
	text-decoration: none;
	background-image: url(/images/colorlink/orange.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding-right: 20px;
	margin: 0 0 6px 10px;
	white-space: nowrap;
}

a.colorlink.noarrow {
	background-image: url(/images/colorlink/noarrow.gif);
}

a.colorlink.dialogbutton {
	clear: none;
}

a.colorlink.last {
	margin-bottom: 0;
}

a.colorlink span {
	font-weight: bold;
	float: left;
	display: block;
	height: 18px;
	background-image: url(/images/colorlink/bg.gif);
	background-repeat: no-repeat;
	padding: 3px 8px 0 15px;
	cursor: pointer;
	color: black;
}

a.colorlink.noarrow span {
	padding-right: 0;
	padding-left: 19px;
}

a.colorlink.narrowbutton {
	padding-right: 8px;
}
a.colorlink.narrowbutton span {
	padding-right: 0;
	padding-left: 8px;
}

a.colorlinkleft {
	clear: left;
	float: left;
	display: block;
	height: 18px;
	color: black;
	font-size: 10px;
	text-decoration: none;
	background-image: url(/images/colorlink/orange.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding-right: 20px;
	margin: 0 0 6px 10px;
	white-space: nowrap;
}

a.colorlinkleft.noarrow {
	background-image: url(/images/colorlink/noarrow.gif);
}

a.colorlinkleft.dialogbutton {
	clear: none;
}

a.colorlinkleft.last {
	margin-bottom: 0;
}

a.colorlinkleft span {
	font-weight: bold;
	float: left;
	display: block;
	height: 18px;
	background-image: url(/images/colorlink/bg.gif);
	background-repeat: no-repeat;
	padding: 3px 8px 0 15px;
	cursor: pointer;
	color: black;
}

a.colorlinkleft.noarrow span {
	padding-right: 0;
	padding-left: 19px;
}

a.colorlinkleft.narrowbutton {
	padding-right: 8px;
}
a.colorlinkleft.narrowbutton span {
	padding-right: 0;
	padding-left: 8px;
}


div.dialog-grey {
	position: absolute;
	width: 398px;
	z-index: 9001;
}

div.dialog-grey-top {
	background-repeat: no-repeat;
	background-image: url(/images/dialogs/grey-tl.gif);
	padding-left: 13px;
	height: 26px;
	position: relative;
}

div.dialog-grey-top div {
	background-position: top right;
	background-repeat: no-repeat;
	background-image: url(/images/dialogs/grey-tr.gif);
	height: 26px;
}

div.dialog-grey-top h3 {
	margin: 0;
	float: left;
	height: 26px;
	background-repeat: repeat-x;
	background-image: url(/images/dialogs/grey-header.gif);
	font-size: 10px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	text-align: left;
}

div.dialog-grey-top h3 span {
	float: left;
	padding: 7px 14px 0 4px;
}

a.dialog-grey-exit {
	text-align: right;
	position: absolute;
	top: 9px;
	right: 13px;
	height: 26px;
}

div.dialog-grey-content {
	background-color: #E2E2E2;
	background-repeat: repeat-y;
	background-image: url(/images/dialogs/grey-content-l.gif);
	padding: 0;
	margin: 0;
}

div.dialog-grey-body {
	background-position: top right;
	background-repeat: repeat-y;
	background-image: url(/images/dialogs/grey-content-r.gif);
	margin: 0 0 0 7px;
	padding: 7px 7px 0 0;
	text-align: left;
}

div.dialog-grey-body p {
	margin: 0;
	padding: 0 0 1em 0;
	text-align: left;
}

div.dialog-grey-bottom {
	background-repeat: no-repeat;
	background-image: url(/images/dialogs/grey-bl.gif);
	height: 7px;
	font-size: 1%;
}

div.dialog-grey-bottom div {
	background-position: top right;
	background-repeat: no-repeat;
	background-image: url(/images/dialogs/grey-br.gif);
	height: 7px;
	margin-left: 7px;
}


img.vchar {
	vertical-align: text-bottom;
	margin-left: 2px;
}

/* friend invitation */

div.invitation_preview {
	border: 3px solid black;
}

div.invitation_meta {
	padding: 10px;
}

div.invitation-component {
	width: 480px;
	text-align: left;
}

div.invitation-component textarea {
	width: 96%;
}

div.invitation-component input.invitation-wide-input, 
div.invitation-buttons {
	width: 370px;
}

div.invitation-component div.blackbubble-bottom {
	text-align: right;
}

img.invitation-tail {
	margin-right: 24px;
}

img.invitation-habbo {
	float: right;
}

div.invitation-buttons, 
div.invitation-buttons-preview {
	margin-top: 1em;
	text-align: right;
}

/* splash */

div.splash-message-wrapper {
	position: absolute;
	top: 20px;
	left: 100px;
}

div.splash-message {
	position: absolute;
	top: 5px;
	left: 5px;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* styles for habbo club subscription */
div#subscription-meter-box {
	background-image: url(/images/meter_subscription_valid.gif);
	background-repeat: no-repeat;
	width: 277px;
	height: 85px;
	position: relative;
}
div#subscription-meter-box2 {
	background-image: url(/images/meter_subscription_ended.gif);
	background-repeat: no-repeat;
	width: 277px;
	height: 65px;
	position: relative;
}
div#subscription-meter-box3 {
	background-image: url(/images/meter_subscription_valid_np.gif);
	background-repeat: no-repeat;
	width: 277px;
	height: 85px;
	position: relative;
}
div#subscription-meter-box div#pastmonthsVal,
div#subscription-meter-box3 div#pastmonthsVal {
	position:absolute;
	width:40px;
	height:25px;
	z-index:1001;
	left: 25px;
	top: 33px;
	font-size: 18px;
}
div#subscription-meter-box2 div#pastmonthsVal {
	position:absolute;
	width:40px;
	height:25px;
	z-index:1001;
	left: 25px;
	top: 18px;
	font-size: 18px;
}
div#subscription-meter-box div#clubdays,
div#subscription-meter-box3 div#clubdays {
	position:absolute;
	width:140px;
	height:20px;
	z-index:1002;
	left: 86px;
	top: 40px;
}
div#subscription-meter-box div#comingmonthsVal {
	position:absolute;
	width:40px;
	height:25px;
	z-index:1003;
	left: 242px;
	top: 33px;
	font-size: 18px;
}
div#subscription-meter-box div#pastmonths,
div#subscription-meter-box3 div#pastmonths {
	position:absolute;
	width:60px;
	height:20px;
	z-index:1004;
	left: 5px;
	top: 60px;
}
div#subscription-meter-box2 div#pastmonths {
	position:absolute;
	width:60px;
	height:20px;
	z-index:1004;
	left: 5px;
	top: 45px;
}
div#subscription-meter-box div#comingmonths {
	position:absolute;
	width:60px;
	height:20px;
	z-index:1005;
	left: 224px;
	top: 60px;
}
span.subscription-buy-details {
	position:relative;
	margin-left:5px;
}
span#habboclub_sub a.dialogbutton {
	float:left;
	margin:0px 0px 3px 0px !important;
	margin: 0px 0px -3px 0px;
	padding-bottom: 0px;
	clear: both;
}
#subscription-divider {
	clear: both;
	border-top: 1px dashed black;	
	padding-top: 5px;
	margin-top: 5px;
}
span.habboclub-buy-details {
 	line-height: 20px !important;
 	line-height: 23px;
 	padding-left: 5px;
}