<link href="/styles/myhabbo/myhabbo.css" type="text/css" rel="stylesheet"/>
<link href="/styles/myhabbo/skins.css" type="text/css" rel="stylesheet"/>
<link href="/styles/myhabbo/dialogs.css" type="text/css" rel="stylesheet"/>
<link href="/styles/myhabbo/buttons.css" type="text/css" rel="stylesheet"/>
<link href="/styles/boxes.css" type="text/css" rel="stylesheet"/>
<link href="/styles/myhabbo/boxes.css" type="text/css" rel="stylesheet"/>
<link href="/styles/profile.css" type="text/css" rel="stylesheet"/>
<link href="/styles/assets.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/js/effects.js"></script>
<script type="text/javascript" src="/js/dragdrop.js"></script>
<script type="text/javascript" src="/js/slider.js"></script>
<script type="text/javascript" src="/js/myhabbo.js"></script>
<script type="text/javascript" src="/js/myhabbo-dialogs.js"></script>
<script type="text/javascript" src="/js/myhabbo-widgets.js"></script>
<div id="main-content">
    <div id="page-headline">
        <div id="page-headline-breadcrums">
            <a href="/">{{text.global.menu.home.title}}</a> » <a href="/home">{{text.global.menu.homepages.title}}</a> » {{homeuser.username}}
        </div>
        <div id="page-headline-text">{{text.homepages.homepage.title}}: {{homeuser.username}}</div>
    </div>
    <div id="mypage-wrapper">
        <div id="mypage-left-panel">
            <div id="mypage-top-spacer"></div>

            <div id="mypage-bg" class="b_bg_pattern_deepred">
                <div id="playground">


                    <div class="movable widget ProfileWidget" id="widget-24"
                         style=" left: 600px; top: 20px; z-index: 35;">
                        <div class="w_skin_goldenskin">
                            <div class="widget-corner" id="widget-24-handle">
                                <div class="widget-headline"><h3><span class="header-left">&nbsp;</span><span
                                        class="header-middle">{{text.homepages.homepage.profil.title}}</span><span class="header-right">&nbsp;</span>
                                </h3>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-content">
                                    <div class="profile-info">
                                        <div class="name" style="float: left">
                                            <span class="name-text">{{homeuser.username}}</span>
                                        </div>

                                        <br class="clear">
                                        <div class="birthday text">
                                            {{text.homepages.homepage.profil.createdAt}}
                                        </div>
                                        <div class="birthday date">
                                            {{homeuser.created_at}}
                                        </div>
                                        {{#if homeuser.badge}}{{#if homeuser.badge_active}}
                                            <img src="/v14/c_images/badges/Badges/{{homeuser.badge}}.gif">{{/if}}{{/if}}
                                    </div>
                                    <div class="profile-figure">
                                        <img style="margin-top:-5px;"
                                             src="/habbo-imager/?figure={{homeuser.figure}}&reverse=true">
                                    </div>
                                    <div class="profile-motto">
                                        {{homeuser.motto}}
                                        <div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="movable widget HighScoresWidget" id="widget-25"
                         style=" left: 595px; top: 250px; z-index: 41;">
                        <div class="w_skin_goldenskin">
                            <div class="widget-corner" id="widget-25-handle">
                                <div class="widget-headline"><h3><span class="header-left">&nbsp;</span><span
                                        class="header-middle">{{text.homepages.homepage.scores.title}}</span><span
                                        class="header-right">&nbsp;</span></h3>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-content">
                                    <table>
                                        <tbody>
                                        <tr colspan="2">
                                            <th>
                                                {{text.homepages.homepage.scores.battleball}}
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>{{text.homepages.homepage.scores.total}}</td>
                                            <td>{{homeuser.battleball_points}}</td>
                                        </tr>
                                        <tr colspan="2">
                                            <th>
                                                {{text.homepages.homepage.scores.snowstorm}}
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>{{text.homepages.homepage.scores.total}}</td>
                                            <td>{{homeuser.snowstorm_points}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="movable widget FriendsWidget" id="widget-34273"
                         style=" left: 140px; top: 50px; z-index: 8;">
                        <div class="w_skin_goldenskin">
                            <div class="widget-corner" id="widget-34273-handle">
                                <div class="widget-headline"><h3><span class="header-left"></span>
                                    <span class="header-middle">
                                        {{text.homepages.homepage.friends.title}}
                                </span>
                                    <span class="header-right">&nbsp;</span>
                                </h3>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-content">
                                    <div id="friends">
                                        {{#each homeuser.friends}}
                                            <div class="friend" id="f0">
                                                <a href="/home/{{this.username}}">
                                                    <img src="/habbo-imager/?figure={{this.figure}}&reverse=true"
                                                    width="30" height="56">
                                                </a>
                                            </div>
                                        {{/each}}
                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="movable widget RoomsWidget" id="widget-23"
                         style=" left: 170px; top: 290px; z-index: 15;">
                        <div class="w_skin_goldenskin">
                            <div class="widget-corner" id="widget-23-handle">
                                <div class="widget-headline"><h3><span class="header-left"></span>
                                    <span class="header-middle">
                                        {{text.homepages.homepage.rooms.title}}
                                    </span>
                                    <span class="header-right">&nbsp;</span>
                                </h3>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-content">

                                    <div id="room_wrapper">
                                        <table cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                            {{#each homeuser.rooms}}
                                                <tr>
                                                    <td class="dotted-line" valign="top">
                                                        <div class="room_image">
                                                            {{#ifCond this.accesstype '==' 0}}
                                                                <img src="/images/homes/room_icon_open.gif"
                                                                     alt="" align="middle">
                                                            {{/ifCond}}
                                                            {{#ifCond this.accesstype '==' 1}}
                                                                <img src="/images/homes/room_icon_locked.gif"
                                                                     alt="" align="middle">
                                                            {{/ifCond}}
                                                            {{#ifCond this.accesstype '==' 2}}
                                                                <img src="/images/homes/room_icon_password.gif"
                                                                     alt="" align="middle">
                                                            {{/ifCond}}
                                                        </div>
                                                    </td>
                                                    <td class="dotted-line">
                                                        <div class="room_info">
                                                            <div class="room_name">
                                                                {{this.name}}
                                                            </div>
                                                            <div class="clear"></div>
                                                            <div>
                                                            </div>
                                                            <a href="javascript:enterHotelRoom({{this.id}})">
                                                                {{../text.homepages.homepage.rooms.goIn}}
                                                            </a>
                                                        </div>
                                                        <br class="clear">
                                                    </td>
                                                </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>