<form method="post" action="/iot/3">
    <table border="0" cellspacing="0" cellpadding="0" class="ihead">
        <tr>
            <td class="icon"><img src="/images/iot/2.gif" alt=" " width="47" height="37"/></td>
            <td class="text">
                <h2>{{text.iot.iot2.text1}}</h2>
            </td>
        </tr>
    </table>
    <br>
    <table border="0" cellspacing="0" cellpadding="0" class="content-table">
        <tr>
            <td valign="middle" align="left" style="width: 300px;">
                <div class="iinfodiv">
                    <input type="hidden" value="{{username}}" name="username" />
                    <label><strong>{{text.iot.iot2.text2}}:</strong><br>
                        <input type="email" name="mail" id="mail"></label>
                    <br/>
                    <br/>
                    <label>
                        <input type="submit" name="button" id="button" value="{{text.iot.iot2.button1}}"/>
                    </label>
                </div>
            </td>
        </tr>
    </table>
</form>